/****************** CUSTOMS ***********************/
html {
  font-family: Calibri, sans-serif;
}


body {
  width: 100%;
}

footer {
  margin-top: 50px;
  min-height: 69px;
  background-color: #ffbf80;
  padding-top: 10px;
}

footer .container {
  text-align: center;
}

.header .nav {
  color: #ffffff;
  background: #2045b1;
  text-align: center;
}

.header .nav h1 {
  margin-top: 0;
  margin-bottom: 6px;
  padding: 8px;
  text-shadow: 2px 4px 4px;
}

.menu-user-container {
  position: absolute;
  top: 5px;
  right: 8px;
  text-align: right;
}

.menu-user-container:hover ul {
  display: block;
  text-align: center;
}

.menu-user-container img {
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.menu-user-container p {
  margin: 0;
}

.menu-user-container ul {
  display: none;
  padding: 5px;
  background-color: #2a60ffc7;
  color: #f0f0f0;
  margin: 6px;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #ffbf80;
}

.menu-user-container ul li {
  list-style-type: none;
  margin-bottom: 4px;
  min-height: 40px;
  cursor: pointer;
}
.menu-user-container ul li .show-fav-list {
  text-decoration: none;
  color: #f0f0f0;
}

.menu-user-container ul li:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #b1b1b1;
}

.header .div-info {
  width: 60%;
  text-align: center;
  margin: auto;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

.header .introduction {
  width: 100%;
  font-weight: 400;
}

.main {
  width: 95%;
  margin: auto;
  padding: 8px;
}

/**** TABLE ****/
.main-table {
  text-align: center;
  width:100%;
  margin-top: 8px;
  padding: 3px;
  border-collapse: collapse;
}

.main-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.main-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.main-table, .main-table th, .main-table td {
  border: 1px solid #ffbf80;
  vertical-align: center;
}

.main-table thead { color: #ffffff; background: #2045b1; }

.main-table tr { padding: 5px;  }
.main-table tbody tr:hover { background-color: #d0d0d0; }
.main-table tbody tr:nth-child(even) { background-color: #f2f2f2; }
.main-table tbody tr:nth-child(even):hover { background-color: #d0d0d0; }

.main-table td { padding: 5px; }

.btn-click-action, .btn-add-new { cursor: pointer; }

.action-content-container { display: flex; justify-content: space-between; }

@media screen and (max-width: 820px)  {
  .main-table {
    font-size: 14px;
  }
}

@media screen and (max-width: 725px)  {
  .main-table {
    font-size: 13px;
  }
}

/**************** MODAL BEHAVIOR ***********************/

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(0,0,0,0.4);
  display: none;
  z-index: 2;
  padding-top: 100px;
  padding-bottom: 15%;
  border: solid 1px #d3d3d3;
}

.modal-wrapper h2 {
  margin-top: 0;
  margin-bottom: 2px;
  padding: 3px 0;
  background-color: #2a60ffc7;
  color: #f0f0f0;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.modal-content {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 4px #d3d3d3;
}

.modal-content .content {
  padding: 10px;
  max-height: 70vh;
  overflow-y: auto;
}

.modal-wrapper .picker-inputs {
  display: flex;
  justify-content: space-between;
}

#modal-add-new select {
  width: 156px;
}

#modal-add-new .introduction {
  text-align: justify;
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

#modal-add-new .picker-inputs-content {
  vertical-align: top;
  width: 80%;
  padding: 6px;
  font-size: 15px;
}

.close-modal {
  position: absolute;
  top: 66px;
  left: 89%;
  border-radius: 20px;
  width: 2%;
  text-align: center;
  background-color: #d3d3d3;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 1px;
}

.close-modal:hover {
  background-color: #fff;
  color: #707070;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  border: solid 1px #d3d3d3;
}

/********** MODAL COOKIE **********/
.modal-cookie {
  position: fixed;
  display: block;
  width: 55%;
  bottom: 2px;
  animation-name: slidesup;
  animation-duration: 2s;
}

.modal-content-cookie {
  width: 95%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 6px -4px 6px #b4b4b4;
}

.modal-cookie h2 {
  margin-top: 0;
  margin-bottom: 2px;
  padding-left: 10px;
  background-color: #ffbf80;
  border-radius: 5px 5px 0 0;
}

.modal-content-cookie .content {
  padding: 0 10px 2px;
  max-height: 70vh;
}

.modal-content-cookie .introduction {
  font-size: 15px;
  text-align: justify;
}

.modal-cookie .row {
  display: flex;
  justify-content: flex-start;
}

.modal-cookie .row .action-content {
  margin-right: 10px;
}

@keyframes slidesup {
  from {
    bottom: -300px; opacity: 0;
  }
  to {
    bottom: 2px; opacity: 1;
  }
}

/*------ Transition on decline ------*/
.modal-cookie.hidden-cookie, .modal-cookie-repop.hidden-cookie {
  animation-name: slidesdown;
  animation-duration: 1.5s;
}

@keyframes slidesdown {
  from {
    bottom: 2px; opacity: 1;
  }
  to {
    bottom: -300px; opacity: 0;
  }
}

/*------ Repop cookie ------*/
.modal-cookie-repop {
  position: fixed;
  display: none;
  width: 6%;
  left: 30px;
  bottom: 2px;
  animation-name: slidesup;
  animation-duration: 1s;
}

.modal-cookie-repop:hover {
  cursor: pointer;
}

.modal-content-cookie-repop {
  width: 95%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px dashed lightgrey;
  box-shadow: 6px -4px 6px #b4b4b4;
  animation: spin 10s linear infinite ;
}

@keyframes spin {
  100% {
    transform: rotateZ(
      360deg
    );
  }
}

.modal-content-cookie-repop .content {
  padding: 5px;
  max-height: 70vh;
}

.modal-cookie-repop .action-content.fa {
  width: 100%;
  text-align: right;
  font-size: smaller;
}

.modal-cookie-repop img {
  width: 100%;
}

.modal-cookie.hide-for-set { display: none; }

/***** BTN *****/

.btn-add-new {
  background-color: #ffffff;
  color: #00bfff;
  border: 1px solid #00bfff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}
.btn-add-new:hover {
  background-color: #00bfff;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}

.btn-click-action {
  background-color: #ffffff;
  color: #007399;
  border: 1px solid #007399;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}
.btn-click-action:hover {
  background-color: #007399;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}

#btn-decline-cookie {
  background-color: #ffffff;
  color: #7340bf;
  border: 1px solid #7340bf;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}
#btn-decline-cookie:hover {
  background-color: #7340bf;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}

#btn-accept-cookie {
  background-color: #ffffff;
  color: #0f8a38;
  border: 1px solid #0f8a38;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}
#btn-accept-cookie:hover {
  background-color: #0f8a38;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}

#btn-del-crypto {
  background-color: #ffffff;
  color: #e61919;
  border: 1px solid #e61919;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}
#btn-del-crypto:hover {
  background-color: #e61919;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}

#btn-add-to-fav {
  background-color: #ffffff;
  color: #ff9900;
  border: 1px solid #ff9900;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}
#btn-add-to-fav:hover {
  background-color: #ff9900;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}

.btn-reset-list {
  background-color: #ffffff;
  color: #007eff;
  border: 1px solid #007eff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}
.btn-reset-list:hover {
  background-color: #007eff;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}

#btn-delete-info {
  background-color: #ffffff;
  color: #e61919;
  border: 1px solid #e61919;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}
#btn-delete-info:hover {
  background-color: #e61919;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
}

.current-time-info p {
  margin: 0;
  font-weight: bold;
}

/**** error messages ****/
.error-on-confirm-add-new-select,
.error-on-confirm-add-new-input {
  color: #dd0027;
  font-size: 12px;
}
